:root {
    --fuentePrincipal:"Open Sans", sans-serif;
    --negro: #000000;
    --blanco: #fff;
    --gris: #888;
    --turquesa: #00CED1;
}

/* Globales */
body {
    font-family: var(--fuentePrincipal);
    background-color: var(--negro) !important;
    color: var(--blanco) !important;
}
/* Header */
/* Navegador */
.navbar.bg-light {
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px);
}
.imagen-nav {
    max-width: 30px;
}
.navegacion-texto {
    font-size: 20px;
    transition: font-weight 0.5s ease;
}
.navegacion-texto:hover {
    font-weight: bold;
}
/* Carrusel */
.carousel-item img {
    max-width: 100%;
    height: 850px;
    object-fit: cover;
  }
  /* Botones interactivos Carrusel */
.carousel-indicators {
    bottom: 10px;
    /* Asegura que estén por encima del contenido del carrusel */
    z-index: 15;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--blanco); /* Color de fondo de los indicadores inactivos */
    margin: 0 5px; /* Espacio entre cada indicador */
    border-radius: 50%; /* Forma redondeada */
    cursor: pointer;
}
.carousel-indicators .active {
    background-color: var(--gris); /* Color de fondo del indicador activo */
}
/* Ajustes moviles */
/* Quienes Somos */
.quienes-somos {
    
}
.quienes-somos h2{
    margin: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gris);
}
.quienes-somos-icono {
    font-size: 20px;
    background-color: var(--turquesa);
}