:root {
    --fuentePrincipal:"Open Sans", sans-serif;
    --negro: #000000;
    --blanco: #fff;
    --gris: #888;
    --turquesa: #00CED1;
}

/* Globales */
body {
    font-family: var(--fuentePrincipal);
    background-color: var(--negro) !important;
    color: var(--blanco) !important;
}
/* Incluye titulos de la seccion "¿QUIENES SOMOS?","DESTACADOS" */
.titulo-secciones {
    margin: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gris);
}
/* Header */
/* Navegador */
.navbar.bg-light { /*Transparencia del nav */
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px);
}
.imagen-nav {
    max-width: 30px;
}
.navegacion-texto { /*Negrita cuando se para por encima */
    font-size: 20px;
    transition: font-weight 0.5s ease;
}
.navegacion-texto:hover {
    font-weight: bold;
}
/* Carrusel */
.carousel-item img {
    max-width: 100%;
    height: 850px;
    object-fit: cover;
  }
/* Botones interactivos Carrusel */
.carousel-indicators {
    bottom: 10px;
    z-index: 15; /* Asegura que estén por encima del contenido del carrusel */
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--blanco);
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}
.carousel-indicators .active { /* Color de fondo del indicador activo */
    background-color: var(--gris);
}
/* Ajustes moviles */
/* Quienes Somos */
.quienes-somos-icono {
    font-size: 25px;
    background-color: var(--turquesa);
}
/* Destacados */
.destacados-carta-texto {
    background-color: var(--turquesa);
    color: var(--blanco) !important;
}
/* Ajustes moviles */
@media (max-width: 768px) {
.destacados-carta {
    margin: 15px;
}
}